<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

<appSettings>
 <!-- Federal Learning Registry Integration -->
        <add key="LR_Integration_Enabled" value="true"/>
        <add key="LR_Integration_KeyID" value="8EBA5398"/>
        <add key="LR_Integration_KeyPassPhrase" value="*****"/>
        <add key="LR_Integration_GPGLocation" value="C:\Development\adlsvn.adlnet.gov\LearningRegistry\LearningRegistrySubmitExample\bin\Debug\"/>
        <add key="LR_Integration_PublicKeyURL" value="http://3dr.adlnet.gov/dev/52F0ADE4F48CC68EE681D57648DFE6DE8EBA5398.asc"/>
        <add key="LR_Integration_SubmitterName" value="ADL 3D Repository"/>
        <add key="LR_Integration_SignerName" value="ADL"/>
        <add key="LR_Integration_PublishURL" value="http://lrtest02.learningregistry.org/publish"/>
        <add key="LR_Integration_NodeUsername" value="lrprod"/>
        <add key="LR_Integration_NodePassword" value="lrpr0d"/>
</appSettings>
</configuration>
